* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 78px;
  gap: 50px;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-detail {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.product-right {
  display: flex;
  flex-direction: column;
}
.product-right h1 {
  font-size: 60px;
  font-weight: 5000;
  margin: 20px 0;
  font-family: "arial", sans-serif;
}
.product-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.product-rating .reviews-count-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-right .price {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 5px 0;
  display: flex;
  gap: 15px;
}
.product-right .old-price {
  color: #888;
}
.product-right .description {
  margin-top: 15px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.product-right .size {
  margin: 20px 0;
  display: flex;
  gap: 15px;
}
.product-right .size button {
  padding: 10px 15px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
.product-right .size button:hover {
  background-color: black;
  color: white;
}
.product-right .btn-buy {
  display: flex;
  gap: 25px;
  margin: 20px 0;
}
.btn-buy input {
  width: 60px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
.btn-buy button {
  padding: 13px 20px;
  width: 150px;
  border: none;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
}
.product-right button:hover {
  background-color: #333;
}
.product-right .more-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: cursive;
}
.product-right .more-info ul {
   margin-left: 30px;
   font-family: cursive;
}
.product-overview {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 90px 0;
}
.product-overview h2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.product-overview p {
    font-size: 18px;
}
.product-overview ul {
   font-size: 18px;
   font-weight: bold;
   margin-left: 50px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   font-family: cursive;
}
.container .similar-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
    
}
.similar-product h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    text-align: center;
}
.container .product {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.product-card {
  width: 22%;
  cursor: pointer;
}

.product-card .name {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  font-weight: bold;
}
.product-card .price {
  display: flex;
  gap: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.product-card .old-price {
  color: rgb(162, 163, 164);
}
.product-card img {
  transition: 1s;
}
.product-card img:hover {
  transform: scale(1.1);
}
