* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    display: flex;
    flex-direction: row;
}
.main {
    width: 85%;
    background-color: rgb(213, 214, 214);
}
.main .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid rgb(222, 219, 219);
}
.main-header h1 {
    font-family: 'Courier New', Courier, monospace;
}
.main-header a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(40, 40, 193);
    color: white;
}

.main-header a:hover {
    background-color: rgb(27, 27, 140);
}
form {
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 50px;
    background-color: white;
    height: 500px;
    font-family: cursive;
    border-radius: 10px;
    
}
form .left-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    padding-left: 50px;
    gap: 5px;
   
}
form .right-image{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
}
.left-form input {
    width: 70%;
    height: 25px;
    padding: 15px;
}
form select {
    height: 25px;
    width: 70%;
}
.price div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-image input{
height: 50px;
background-color: rgb(218, 215, 215);


}
.right-image button{
    background-color: rgb(40, 40, 193);
    border: none;
    height: 50px;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
}
.right-image button:hover {
    background-color: blue;
}
