.sidebar {
    width: 15%;
    height:auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background-color: rgb(10, 6, 85);
    
    
    font-family: cursive;
}
.sidebar a {
    text-decoration: none;
    
}
.sidebar h1 {
    padding: 25px 20px;
    color: white;
    border-bottom: 1px solid rgb(216, 215, 215);
    
    
}
.sidebar a {
     border-bottom: 1px solid rgb(213, 210, 210);
    padding: 10px 20px;
    
    color: white;
}
.sidebar a:hover {
    background-color: rgb(49, 49, 235);
}
