* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: row;
}
.main {
  width: 82%;
  display: flex;
  flex-direction: column;
 
}
.main-header {
  display: flex;
  flex-direction: row;

  border-bottom: 1px solid rgb(207, 222, 246);
  align-items: center;
  padding: 20px 0;
  font-size: 20px;
  color: rgb(90, 100, 116);
}
.main-header .header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}
.header-left .search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}
.search-box input {
  padding: 10px;
  width: 400px;
  border: none;
  border-radius: 20px;
  margin-left: 5px;
}
.main-header .header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 20px;
  padding-right: 20px;
}
.header-right a {
  text-decoration: none;
  color: rgb(0, 67, 250);
}
.table-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 100%;
 
}
.table-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid rgb(180, 179, 179);
}
.table-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid rgb(180, 179, 179);
  align-items: center;
}
span {
  display: flex;
  justify-content: start;
}
.id {
  width: 2%;
}
.image {
  width: 15%;
}
.name {
  width: 10%;
}
.description {
  width: 25%;
}
.category {
  width: 8%;
}
.price {
  width: 10%;
}
.discount-price {
  width: 10%;
}
.quantity {
  width: 10%;
}
.action {
  width: 10%;
  gap: 3px;
}
.btn-add {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 15px 60px;
  border-radius: 10px;
}
.add-product {
  margin-top: 5%;
}
.btn-add:hover {
  background-color: white;
}
.dark-mode {
    background: #031022;
}